@font-face {
  font-family: GameOfThrones;
  src: url("source/fonts/Game of Thrones.ttf");
}
@font-face {
  font-family: EB_Garamond;
  src: url("source/fonts/EBGaramond-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("source/fonts/OpenSans-Regular.ttf");
}