@media (max-width: 1040px) {
  main {
    flex-direction: column;
  }
  .left-section, .right-section {
    max-width: 100%;
  }
  .owl-carousel img {
    max-width: 30%;
  }
  #formTwo {
    height: 50%;
  }
}